project:
  type: website

website:
  site-url: https://iqb-berlin.github.io/tba-info/
  title: "TBA-Verstehen und Anwenden"
  description: "Dokumentation der IQB-Webanwendungen zum computerbasierten Testen - TBA"
  favicon: favicon.ico
  back-to-top-navigation: true
  page-navigation: true
  repo-url: https://github.com/iqb-berlin/tba-info
  repo-actions: [issue]
  navbar:
    pinned: true
    search: true
    logo: IQB-klein.png
    background: '#536171'
  page-footer:
    border: true
    background: light
    right:
      - text: "IQB 2025"
        href: https://www.iqb.hu-berlin.de
      - icon: rss
        href: news/index.xml
    left:
      - text: "{{< fa house >}}"
        href: index.qmd
      - icon: github
        href: https://github.com/iqb-berlin/tba-info
        aria-label: Source Code
  sidebar:
    style: "floating"
    lang: de
    collapse-level: 1
    contents:
      - href: index.qmd
        text: Start
      - href: Einfuehrung/index.qmd
        text: Einf체hrung
      - section: Testcenter
        href: Testcenter/index.qmd
        contents:
          - section: Installation
            href: Testcenter/install/index.qmd
            contents:
            - Testcenter/install/configuration.qmd
            - Testcenter/install/load-test.qmd
            - Testcenter/install/security.qmd
            - Testcenter/install/offline.qmd
            - Testcenter/install/Softwarequalit채t.qmd
            - Testcenter/install/releases.qmd
          - Testcenter/Workspace/index.qmd
          - Testcenter/Zugriffsrechte/index.qmd
          - section: Testinhalte
            href: Testcenter/Testinhalte/index.qmd
            contents:
            - Testcenter/Testinhalte/erstellung-inhalte.qmd
            - Testcenter/Testinhalte/unit-xml.qmd
            - Testcenter/Testinhalte/booklet-xml.qmd
            - Testcenter/Testinhalte/testtaker-xml.qmd
          - Testcenter/Datenauswertung/index.qmd
          - Testcenter/System_Check/index.qmd
          - Testcenter/Gruppenmonitor/index.qmd
          - Testcenter/Adaptives_Testen/index.qmd
          - section: "Studie durchf체hren"
            href: Testcenter/Studie_durchfuehren/index.qmd
            contents:
              - Testcenter/Studie_durchfuehren/Anforderungen.qmd
              - Testcenter/Studie_durchfuehren/Studienkonfiguration.qmd
              - Testcenter/Studie_durchfuehren/Durchfuehrung.qmd
              - section: "Beispielstudie"
                href: Testcenter/Studie_durchfuehren/Beispielstudie/index.qmd
                contents: 
                  - Testcenter/Studie_durchfuehren/Beispielstudie/Schritt1.qmd
                  - Testcenter/Studie_durchfuehren/Beispielstudie/Schritt2.qmd
                  - Testcenter/Studie_durchfuehren/Beispielstudie/Schritt3.qmd
          - href: Testcenter/faq/index.qmd
            text: FAQ
      - section: "Aufgaben entwickeln"
        href: tasks/index.qmd
        contents:
          - section: "Organisieren"
            href: tasks/manage/index.qmd
          - section: "Aufgaben gestalten"
            href: tasks/design/index.qmd
            contents:
              - section: "Standardmodus"
                href: tasks/design/basic/index.qmd
                contents:
                  - tasks/design/basic/Allgemeine_Anleitung/index.qmd
                  - tasks/design/basic/Text_ST_Assistent/index.qmd
                  - tasks/design/basic/Audio_ST_Assistent/index.qmd
                  - tasks/design/basic/MC_Text_Assistent/index.qmd
                  - tasks/design/basic/MC_Bild_Assistent/index.qmd
                  - tasks/design/basic/CMC-Assistent/index.qmd
                  - tasks/design/basic/Antwortfelder_Assistent/index.qmd
                  - section: "Drag & Drop"
                    contents:
                    - tasks/design/basic/DaD/DaD_Assistent_ZO_Einseitig_Elemente_uber_Ziel/index.qmd
                    - tasks/design/basic/DaD/DaD_Assistent_ZO_Einseitig_Elemente_neben_Ziel/index.qmd
                    - tasks/design/basic/DaD/DaD_Assistent_Sortieren/index.qmd
                  - tasks/design/basic/Markieren_Assistent/index.qmd
                  - tasks/design/basic/Rechenkastchen_Assistent/index.qmd
                  - tasks/design/basic/GGB_Assistent/index.qmd
                  - section: "Medienelemente"
                    contents:
                    - tasks/design/basic/Medienelemente/Text/index.qmd
                    - tasks/design/basic/Medienelemente/Bild/index.qmd
                    - tasks/design/basic/Medienelemente/Audio/index.qmd
                    - tasks/design/basic/Medienelemente/Video/index.qmd
                  - tasks/design/basic/Lueckentext_Verbundelement/index.qmd
                  - tasks/design/basic/Tabellen_Assistent/index.qmd
                  - tasks/design/basic/Glossar/index.qmd
              - section: "Erweiterter Modus"
                href: tasks/design/extended/index.qmd
                contents:
                  - tasks/design/extended/Elementeinstellungen/index.qmd
                  - tasks/design/extended/Abschnittseinstellungen/index.qmd
                  - tasks/design/extended/Elemente/index.qmd
                  - section: "Hervorhebungen & Sichtbarkeiten"
                    href: tasks/design/extended/Hervorhebungen_Sichtbarkeiten/index.qmd
                    contents:
                      - tasks/design/extended/Hervorhebungen_Sichtbarkeiten/Buttonverlinkung.qmd
                      - tasks/design/extended/Hervorhebungen_Sichtbarkeiten/Hervorhebungen.qmd
                      - tasks/design/extended/Hervorhebungen_Sichtbarkeiten/Markieren.qmd
                      - tasks/design/extended/Hervorhebungen_Sichtbarkeiten/Sichtbarkeitskaskaden.qmd
              - section: "GeoGebra"
                href: tasks/design/geogebra/index.qmd
                contents:
                  - href: tasks/design/geogebra/intro/index.qmd
                    text: "Einf체hrung"
                  - tasks/design/geogebra/BalkenSaulen/index.qmd
                  - tasks/design/geogebra/Tortendiagramm/index.qmd
                  - tasks/design/geogebra/Messen/index.qmd
                  - tasks/design/geogebra/Geobrett/index.qmd
                  - tasks/design/geogebra/Koordinatensystem/index.qmd
                  - tasks/design/geogebra/Zahlenstrahl/index.qmd

          - section: "Antworten kodieren"
            href: tasks/coding/index.qmd
      - href: Schulungsmaterial/index.qmd
        text: "Schulungsmaterial"
      - href: news/index.qmd
        text: "Aktuell"
format:
  html:
    theme: 
      - zephir
      - custom.scss
    css: styles.css
    toc: true
    anchor-sections: true
    link-external-icon: true
    link-external-newwindow: true
    code-overflow: scroll
    code-copy: true
    code-block-background: true
    highlight-style: ayu-dark
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px
