/* css styles */
h1 {
    font-weight: normal;
    color: #383636
}

h1.title {
    font-weight: normal;
    font-size: 40px;
    color: #000000
}
h2{
    font-weight: normal;
    color: #494848
}
h3 {
    font-weight: normal;
    color: #666565
}
h4 {
    font-weight: normal;
    color: #666565
}