/* css styles */
h1.title {
    font-weight: normal;
    font-size: 40px;
    color: #000000
}
h2{
    font-weight: normal;
    color: #1a1919
}
h3 {
    font-weight: normal;
    color: #1a1919
}
h4 {
    font-weight: normal;
    color: #1a1919
}

/*für alle callout-boxen mit style: default*/
.callout.callout-style-default .callout-body {
    font-size: 1rem;
    font-weight: 400;
}

.callout.callout-style-default.callout-header {
    font-weight: 550;
    font-size: 1rem;
}

/*für alle callout-boxen mit style: simple. Eingesetzt zur Anzeige von wichtigen Links*/
.callout.callout-style-simple>div.callout-header {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.1em 0.1em;
}

.callout.callout-style-simple .callout-body {
    font-size: 1rem;
    font-weight: 400;
}

td {
   border: 1px solid rgb(143, 140, 140);
}

.callout-importantLinks {
    border: 1px solid rgb(218, 216, 216);
    border-left: 5px solid rgb(231, 135, 56); 
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: 21px
  }

  .callout-importantLinks-header {
    opacity: 90%;
    padding-left:  5px;
    padding-top:  5px;
    padding-left:  10px;
    padding-bottom: 5px;
    color:#3a3b3b;
    background-color: rgb(245, 215, 190); 
    font-weight: bold;
  }

  .callout-importantLinks-container {
    padding-top: 5px;
    padding-left: 10px;
    color: #1a1919;
    background-color: white;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
  }