/* css styles */
h1 {
    font-weight: normal;
    color: #383636
}

h1.title {
    font-weight: normal;
    font-size: 40px;
    color: #000000
}
h2{
    font-weight: normal;
    color: #1a1919
}
h3 {
    font-weight: normal;
    color: #3a3737
}
h4 {
    font-weight: normal;
    color: #3a3737
}

.callout-note {

    background-color: #ffffff;
   
}